body {
    background: #f0f0f0;
}
.nav {
    form {
        padding: 10px 0 0;
        button {
            margin: 0 0 0 15px;
            border-radius: 5px;
            border: none;
        }
    }
}
.user-profile-container {
    padding: 40px 0 15px;
    margin-bottom: 20px;
    background: #fff;

    .user-image-container {
        float: left;
        width: 75px;
        margin: 0 15px;
        img {
            width: 100%;
            border-radius: 50%;
        }
    }
    .user-name-container {
        float: left;
        padding-top: 15px;
    }

    .user-details-container {
        clear: both;
        padding: 15px;
    }
}

.top-trends-container {
    background: #fff;
    padding: 15px;
    .top-trends {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.create-tweet-container {
    background: #e0e0e0;
    padding: 15px;
    margin-bottom: 15px;
    form {
        background: #fff;
        border: 1px solid #dfdfdf;
        padding: 15px;
        input {
            border: none;
            width: 300px;
        }
    }
}

.feed {
    list-style: none;
    margin: 0;
    padding: 0;

    .tweet-container {
        background: #fff;
        border-top: 1px solid #dfdfdf;
        padding: 15px;
        margin-bottom: 15px;
        .author-image-container {
            float: left;
            margin-right: 15px;
            img {
                width: 45px;
                border-radius: 50%;
            }
        }

        .tweet-creator-data-container {
            margin-top: 10px;
            & > div {
                float: left;
                margin-right: 15px;
            }
        }

        .tweet-content {
            clear: both;
            margin: 15px 0 15px 60px;
        }
        .tweet-publish-data-container {
            margin-left: 60px;
            padding-bottom: 30px;
            & > div {
                float: left;
                margin-right: 15px;
            }
        }
    }
}

.follow-container {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        .follow {
            border-top: 1px solid #e0e0e0;
            padding-top: 15px;
            margin-bottom: 15px;
            overflow: hidden;

            .account-image {
                float: left;
                margin-right: 15px;
                img {
                    border-radius: 50%;
                    width: 45px;
                }
            }
            .account-information-container {
                float: left;
            }
            .follow-button {
                clear: both;
                float: right;
            }
        }
    }
}

.ad-container {
    background: #fff;
    padding: 15px;
    margin-bottom: 15px;
    img {
        width: 100%;
    }
}

.support-container {
    background: #fff;
    padding: 15px;
    overflow: hidden;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            float: left; margin-right: 15px;
        }
    }
}

.blur-container {
    position: fixed;
    top: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
}
.isLoggedOut {
    filter: blur(3px);
}