.create-tweet-container {
    background: #e0e0e0;
    padding: 15px;
    margin-bottom: 15px;
    form {
        background: #fff;
        border: 1px solid #dfdfdf;
        padding: 15px;
        input {
            border: none;
            width: 300px;
        }
    }
}