<template name="userProfileContainer">
<div class="user-profile-container">
    <div class="user-image-container">
        <img src="http://via.placeholder.com/100x100" alt="">
    </div>
    <div class="user-name-container">
        <div class="user-name">Fred</div>
        <div class="user-handle">@FredFlinstone</div>
    </div>

    <div class="user-details-container">
        <div class="row text-center">
            <div class="col-xs-4">
                <div class="user-details-title">Tweets</div>
                <div class="user-details-count">2</div>
            </div>
            <div class="col-xs-4">
                <div class="user-details-title">Follows</div>
                <div class="user-details-count">12</div>
            </div>
            <div class="col-xs-4">
                <div class="user-details-title">Followers</div>
                <div class="user-details-count">1</div>
            </div>
        </div>
    </div>
</div>
</template>